# Copyright (c) 2014 Daniel Paul Searles
#
# See the file LICENSE in the root of this project for copying permission.

[submodule "AFNetworking"]
	path = AFNetworking
	url = git@github.com:squaresurf/AFNetworking.git
